* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #e0f0ff, #f0f2f5);
}
.panelCard {
    background-color: #fff;
    padding: 60px 50px;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 750px;
    width: 90%;
}
h1 {
    margin-bottom: 10px;
    color: #333;
    font-size: 34px;
}
.subtitle {
    margin-bottom: 50px;
    color: #555;
    font-size: 18px;
}
.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}
.gridButton {
    background-color: #1dacff;
    color: #fff;
    border: none;
    padding: 25px 20px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.gridButton:hover {
    background-color: #17b1ff;
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}
.log{
    background-color: red;
    border: none;
    border-radius: 20px;
  width: 200px;
  height: 60px;
  color: white;
  font-size: 20px;
}
